@{
    ViewData["Title"] = "Index";
}
<h1>Third-Index</h1>
<h2>@base.ViewBag.Today</h2>
<h2>@base.ViewBag.LogLevel</h2>
<h2>@base.ViewBag.Say</h2>
<h2>@base.ViewBag.A</h2>
<h2>@base.ViewBag.B</h2>
<h2>@base.ViewBag.C</h2>